<!--<form #myForm="ngForm" (ngSubmit)="submit(myForm.value)">-->
  <!--<div>Username: <input type="text" name="username" ngModel></div>-->
  <!--<div>SSN: <input type="text" name="ssn" ngModel></div>-->

  <!--<div ngModelGroup="passwordGroup">-->
    <!--<div>Password: <input type="password" name="password" ngModel></div>-->
    <!--<div>Confirm password<input type="password" name="pconfirm" ngModel></div>-->
  <!--</div>-->

  <!--<button type="submit">click</button>-->
<!--</form>-->

<!--<input type="text" [formControl]="username">-->

<!--????  sharing reactive forms, formGroup valid-->
<!--<form [formGroup]="fullname">-->
  <!--<input type="text" [formControl]="firsName">-->
  <!--<input type="text" [formControl]="lastName">-->
<!--</form>-->

<!--<form [formGroup]="formModel">-->
  <!--<div [formGroupName]="fullname">-->
    <!--<input type="text" formControlName="firsname">-->
    <!--<input type="text" formControlName="lastname">-->
  <!--</div>-->
<!--</form>-->


<!--<form [formGroup]="formModel">-->
  <!--<ul formArrayName="emails">-->
    <!--<li *ngFor="let email of formModel.get('emails').controls; let i=index">-->
      <!--<input type="password" [formControlName]="i">-->
    <!--</li>-->
    <!--<button type="button" (click)="addEmail()" > Add Email</button>-->
  <!--</ul>-->
<!--</form>-->


<form [formGroup]="formModel" (ngSubmit)="submit(formModel.value)">
  <div>Username: <input type="text" formControlName="username"></div>
  <div >SSN: <input type="text" ngModel ssn></div>
  {{formModel.hasError('ssn','ssn')}}
  <div formGroupName="passwordGroup">
    <div>Password: <input type="password" formControlName="password"></div>
    <div>Confirm password<input type="password" formControlName="pconfirm"></div>
  </div>

  {{formModel.valid}}

  <button type="submit">click</button>
</form>
